[submodule "tools/nv-codec-headers"]
	path = tools/nv-codec-headers
	url = git@github.com:Framatome/nv-codec-headers.git
[submodule "tools/gas-preprocessor"]
	path = tools/gas-preprocessor
	url = git@github.com:Framatome/gas-preprocessor.git
